.socialmedia{
  float: right;
  position: relative;
  bottom: 60px;
}
.delicious{
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  bottom: 17px;
  display: inline;
  font-family: cursive;
  font-weight: bold;
}
.bestblog{
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  left: 40px;
  bottom: 30px;
  font-size: 8px;
}
.margin{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}
hr{
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  width: 980px;
  height: 6px;
  position: relative;
  bottom: 30px;
}
.ingredients{
  background-image: url(images/list-bg.png);
}
.list1{
  position: relative;
  top: 60px;
  left: 50px;

}
li{
  font-size: 18px
}
.list2{
  position: relative;
  left: 500px;
  bottom: 80px;
}
#bottomline{
  position: relative;
  top: 30px;
}
#vanessa{
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 80px;
}
.description{
  position: relative;
  left: 80px;
  bottom: 50px;
  width: 600px;
}
#button{
  position: relative;
  width: 125px;
  height: 40px;
  left: 730px;
  bottom: 125px;
  color: white;
  background-color: #cc5b3b;
  border: none;
}
